 <div class="container">
    <div *ngIf="posts.length > 0">
        <div *ngFor="let post of posts; let i = index">
            <app-card [post]="post">
              <button type="button" class="btn btn-primary" (click)="upload(post.id)">Active</button>
              <button type="button" class="btn btn-danger" (click)="delete(post.id)">Delete</button>
            </app-card>
        </div>
    </div>
</div>

<div class="container text-center mb-5">
    <button class="btn btn-primary"><a class="text-white" [routerLink]="['/']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a></button>
</div>
